.header-mainmenu-area{background: #5F1F74 !important;}


.onebox-top-footer-area{background: #240D2C !important;}
.foot-logo{background: #5F1F74 !important;}
.onebox-footer-bottom{background: #131313 !important;}