.error{
  color: RED;
}
.team_match_status.clearfix{
   height: 70px;
}
.underline{text-decoration:underline !important;}
.no-underline{text-decoration:none !important;}
.success_message{
  font-size: 24px;
}
.full-loading{
   display: none;
}
.full-loading {
  position: fixed;
  z-index: 9999999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.full-loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.full-loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.full-loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    bottom: -40px;
    margin-top: 20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

/*div#loading_2{margin-bottom: 50px;}*/

.loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
.ltr{
  direction: ltr !important;
  display: inline-block;
}
label.error{
  color: RED !important;
  font-size: 14px !important;
  font-weight: normal !important;
}
.tg-img{
  height: 60px;
}
.top_team_img_log img{
  height: 70px;
}
.onebox-seller-form{
  height: 580px;
}
.profile-sm-title{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.home-tab-link img{
  height: 70px;
  margin: 0 auto;
}
.home_tournament_image{
  height: 90px;
}
.home-tab-link{
  text-align: center;    
}
label.error{ color: red; margin-bottom: 0; }
.pr-0{
   padding-right: 0;
}
.pl-0{
   padding-left: 0;
}
.mt-1{
  margin-top: 10px;
}
.mt-2{
  margin-top: 20px;
}
.mt-3{
  margin-top: 30px;
}
.mt-4{
  margin-top: 40px;
}
.mt-5{
  margin-top: 50px;
}
.primary-color{
   background: #ec1c25;
}
.btn-theme{
   background: #ec1c25;
   border: 1px solid #ec1c25;
   color: #FFF;
   padding: 8px 30px;
}
.btn-theme:hover {
   background: #272357;
   color: #FFF;
   border: 1px solid #272357;
}
.btn-theme-full{
   background: #ec1c25;
   border: 1px solid #ec1c25;
   color: #FFF;
   width: 100%;
   font-size: 18px;
   padding: 8px;
}
.btn-theme-full:hover {
   background: #272357;
   border: 1px solid #272357;
   color: #FFF;
}
.btn-white{
   background: #FFF;
   border: 1px solid #FFF;
   color: #ec1c25;
   font-size: 16px;
   padding: 8px 30px;
}
/* LOGIN */
#login-modal{ 
  z-index: 1000000;
}
#login-modal .alert{
  padding: 5px  10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#login-modal .form-group{
  margin-bottom: 10px;
}
.login-modal .form-control{
   height: 40px;
   padding: 6px 12px;
   font-size: 16px;
}
.login-modal .modal-dialog {
   width: 750px;
}
.login-modal .modal-body{
   padding: 0;
}
.login-modal .modal-content{
   background: #FFF;
   border: none;
}
.login-modal .login-modal-left{
   float: left;
   width: 100%;
   padding: 20px;
}
.login-modal .login-title span{
   color: #ec1c25;
   font-weight: 800;
}
.login-modal .login-text{
   font-size: 12px;
   color : #838181;
   line-height: 16px;
}
.login-fp{
   font-size: 12px;
   margin-top: 10px;
}
.login-modal .login-or{
   margin-top: 0px;
   background : #FFF ;
   margin-bottom: 0px;
   position: relative;
   padding: 5px 0;
   text-align: center;
}
.login-modal .login-or span{
   padding: 0 10px;
   background: #fff;
   position: relative;
   z-index: 1;
}
.login-modal .login-or:after {
   content: "";
   width: 100%;
   left: 0;
   top: 20px;
   height: 1px;
   background: #dfdfdf;
   z-index: 0;
   position: absolute;
}
.login-modal .login-modal-right{
   float: left;
   width: 100%;
   background: #ec1c25;
   height: 100%;
   background: url(../img/login_bg.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
.login-right-text{
   color: #FFF;
   margin-top: 10px;
}
.login-modal .login-modal-right .login-model-right-content{
   text-align: center;
   margin-top: 100px;
}
.btnFacebook {
   border-radius: 4px;
   background: #3b5998;
   color:white;
   border:0px transparent;
   text-align: center;
   margin:5px;
   padding:12px 10px;
   display: inline-block;
}
.btnGoogle {
   margin:5px;
   border-radius: 4px;
   background: #db3236;
   color:white;
   padding:12px 10px;
   border:0px transparent;
   text-align: center;
}
.btnFacebook:hover {
   background: #3b5998;
   opacity: 0.6;
}
.btnGoogle:hover {
   background: #db3236;
   opacity: 0.6;
}

#bg-grey{
   background: #E5E5E5;
   height: 100vh;
}


/* Profile container */
.profile {
margin: 20px 0;
}
.profile-content h3{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

/* Profile sidebar */
.profile-sidebar {
padding: 20px 0 10px 0;
background: #fff;
box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

.profile-userpic img {
float: none;
margin: 0 auto;
width: 133px;
height: 133px;
-webkit-border-radius: 50% !important;
-moz-border-radius: 50% !important;
border-radius: 50% !important;
}

.profile-usertitle {
text-align: center;
margin-top: 20px;
}

.profile-usertitle-name {
color: #e01a22;
font-size: 16px;
font-weight: 600;
margin-bottom: 7px;
}

.profile-usertitle-job {
text-transform: uppercase;
color: #5b9bd1;
font-size: 12px;
font-weight: 600;
margin-bottom: 15px;
}

.profile-userbuttons {
text-align: center;
margin-top: 10px;
}

.profile-userbuttons .btn {
text-transform: uppercase;
font-size: 11px;
font-weight: 600;
padding: 6px 15px;
margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
margin-right: 0px;
}
  
.profile-usermenu {
margin-top: 30px;
}

.profile-usermenu ul li {
border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
border-bottom: none;
}

.profile-usermenu ul li a {
color: #000;
font-size: 14px;
font-weight: 600;
}

.profile-usermenu ul li a i {
margin-right: 8px;
font-size: 14px;
}

.profile-usermenu ul li a:hover {
background-color: #fafcfd;
color: #e01a22;
}

.profile-form .form-control {
    height: 45px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 6px;
    outline: none;
    box-shadow: none;
    padding: 5px 10px 5px 20px;
}

.profile-usermenu ul li.active {
border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #e01a22;
  background-color: #ffd9da;
  border-left: 2px solid #e01a22;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #F8F3FA;
    /* min-height: 460px; */
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    margin: 0 0 0 60px;
}

.profile-address{
  border: 1px solid #CCC;
  padding:10px 15px;
  margin-bottom: 10px;
}
.profile-address-add{
  border: 1px solid #e01a22;
  padding: 10px 15px;
  margin-bottom: 20px;
}
.profile-address-add a{
  color: #e01a22;
  font-weight: 600;
}
.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container{
    right: unset !important;
}
.iti--separate-dial-code{
    width: 100%;
}


.onebox-main-caption h1 {
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 45px;
    margin: 50px 0;
}


@media only screen and (min-width: 320px) and (max-width: 420px){
.onebox-main-caption h1 {
    letter-spacing: 0px;
    margin: 25px 0;
    line-height: 30px;
    font-size: 18px;
  }
}

  @media only screen and (min-width: 420px) and (max-width: 700px){
  .onebox-main-caption h1 {
      letter-spacing: 0px;
      margin: 25px 0;
      line-height: 30px;
      font-size: 18px;
  }
}


.onebox-section-heading > h1 {
    color: #000;
    display: block;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}

.bread-img-head h1 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: bold;
}
.blog_page_details h1{
   text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 0 20px 0;
    font-size: 30px;
    color: #000;
}
.onebox-section-heading-event > h1 {
    color: #000;
    display: block;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}

.register-form h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}