@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

body{
	font-family: 'Cairo', sans-serif;
}

.header-top-right{
	text-align: left !important;
}

.mainmenu-left ul {
    text-align: left;
    list-style: none;
}
text{direction: ltr;}
/*.mainmenu-left ul li:nth-child(1) {
    float: right;
}
.mainmenu-left ul li:nth-child(2) {
    float: right;
}
.mainmenu-left ul li:nth-child(3) {
    float: right;
}*/
/*.mainmenu-left ul .dropp:nth-child(4) {
    float: right;
    width: 21%;
    margin-left: unset;
    margin-top: 4px;
    margin-right: unset;
    margin-left: 25px;
}*/
.mainmenu-left ul .dropp:nth-child(4) {margin-left: 25px;margin-right: unset;}
.mainmenu-left .navbar-nav>li {
    float: none;
    margin: 2px 0;
}
.mainmenu-left li:nth-of-type(6) {
    padding-right: 0px;
}
.search-result-filter-top > input{padding: 0px 10px 0px 0px;}

.onebox-notfound > form > button, .filter-search-result button, .search-section button, .single-fixture-right-widget button{
    right: unset !important;
    left: 0;
}
.ticket_quantity, .ticket_quality{
	float: right;
	margin: 0 0 0 5px;
}
span.seat_color, .upcoming-book-btn h4, .onebox-tickets-list-area .sub_head{
	float: right !important;
}

.teams-search-date{
	    border-right: unset;
	    border-left: 1px solid #ccc;
}
.account-form-group a, .filter_sec, .pull-right, a.onebox-btn-book{
  float: left !important;
}
.team-view-image a{float: right;}
.team-view-image a:nth-of-type(3) {
    float: left;
}

.tick_quan .select::after {
    right: 38px;
    top: 3px;
}
.quan .form-control{padding: 6px 12px;}
.select_sec li, .breadcromb-box{ text-align: right; }
.filter_sec{
	   text-align: right;
    width: 100%;
} 
.main-lates-matches .item .team1 {
	text-align: left;
}
.tickets-box-team-img{
	float: right;
}
.match-date, .main-lates-matches .item .team, .signup-page-box label, .login-page-box label, .forget-page-box label{
	text-align: right;
}
label.error {
	font-size: 12px !important;
    text-align: right;
}
.single-fixture-right-widget input[type="search"], .onebox-notfound > form > input{
	padding: 10px !important;
}
.btntoTop{
	right: unset;
	left: 30px;
}
.top_event{
	right: unset;
	left: 100px;
}

.account-form-group .select::after, .date_drop .select::after, .select::after, .onebox-seller-form .select::after, .upcoming-sub_head .select::after{
	right: unset;
    left: 8px;
}
.signup-page-box label{
	font-size: 13px;
}
.home-search-div, .request-ticket-box label{
	text-align: right;
}

.reg-phone_field {
	direction: ltr;
}

.reg-phone_field .col-md-3, .reg-phone_field .col-md-9, .req-phone_field .col-md-3, .req-phone_field .col-md-9, 
.partner-phone_field .col-md-3, .partner-phone_field .col-md-9, .check_phone_field .col-md-3, .check_phone_field .col-md-9 {
	float: left !important;
}
/*.reg-phone_field .account-form-group > input, .req-phone_field .account-form-group > input, .partner-phone_field .account-form-group > input{
	text-align: right;
}*/
.iti__country-list{
	left: 0 !important;

}
/*.upcoming-teams-match {border-right: unset;border-left: 1px solid #ccc;margin-left: 5px;}*/
.upcoming-teams-texts {margin: 20px 0;height: 70px;}
.tickets_dropdown .select::before{left: unset;right: 8px;}
.tickets_dropdown .form-control{padding: 6px 29px 0 25px;}
.full_width_ar {width: 100%;}
.reg-phone_field{direction: rtl;}

.span_ltr {direction: ltr;display: inline-block;}

.social_login a.sin_with_google, .social_login a.sin_with_facebook { padding: 10px 15px;}
.social_login a{font-size: 14px;}

.txt_right {text-align: left;}

.fc_tickets h1 {
    font-weight: 500;
    margin: 20px 0;
    font-size: 16px;
}

/*.trust-pilot i.fas.fa-phone-alt{transform: rotate(255deg);}*/
.trust-pilot a{direction: ltr;display: inline-block;}

.seat_select_block_items{border-left: unset;border-right: 5px solid #272357;}
.meal_package{border-left: unset;border-right: 5px solid #272357;}

/*.icon-bar{left: 2%;right: unset;}*/

.vl:after{left: 0;right: unset;height: 260px;}

.single-upcoming-match span {display: inline-block;}

.booking_img {
    left: 10px;
    right: unset;
}

.payment-order-details .faq--item .faq-title .icon {right: unset;left: 0px;}
.onebox-checkout-form-details .form-control{padding: 0 10px 0 10px;}
.faq--item .faq-title .icon{right: unset;left: 0px;transform: rotate(315deg) ;-webkit-transform: rotate(315deg);}
.faq--item.open .icon {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}
.faq-menu .fas {
    margin-right: unset;
    margin-left: 10px;
}

.toptable td:before {
    float: right;
}
/*.toptable td, .toptable th {
    text-align: left !important;
}*/
.onebox-order-info table tr th{text-align: right;}
.onebox-order-info td{text-align: right;}

.onebox-your-orders .onebox-section-heading > h2 {
    text-align: right;
}
.details td{
    text-align: right;
}
.tr_date .fas {
    margin-left: 4px;
}
.onebox-order-heading {
    float: right;
}
.team-view-details i.fas.fa-long-arrow-right {
    transform: rotate(180deg);
}
.search-result-filter-top button{right: unset;left: 0;}
.mainmenu-left .dropdown-content a{text-align: right;}
/*.mainmenu-left li:nth-of-type(6) {
    padding-left: 25px;
}*/
.all-search-page{left: 0;right: unset;}

.show_drop {margin: 0 10px 0 0;}
.main-lates-matches .item .team span {
    direction: ltr;
    display: inline-block;
    vertical-align: text-top;
}

.apply_coupoun button {float: left;}
.apply_coupoun input{float: right;}

.mainmenu-left .dropdown-submenu > .side-menu {left: unset;right: 90%;} 
.mainmenu-left .dropdown-menu > li{text-align: right;}  
.mainmenu-left i.fas.fa-chevron-right { 
    font-size: 9px; 
    margin-left: 0px;   
    margin-top: 0px;    
    transform: rotate(180deg);  
    display: flex;  
    align-items: center;    
}

.search-section button{
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.powered_by img {margin-right: unset;margin-left: 70px;}
.tabs_faq_content .faq--item .faq-title .icon {right: unset;left: 20px;} 
.login_imag_11 {left: unset;right: 18%;}
.login-page-box{right: unset;left: -20%;}
.forget_user label {float: right;}
.forget_user a{float: left;}

.view-fixture{text-align: left;}
.view-fixture a .fa-arrow-circle-right {transform: rotate(185deg);}

.football_ticket .topAirSlider .owl-prev{left: unset;right: 97%;top: -6%;}
.football_ticket .topAirSlider .owl-next{right: unset;left: 40px;top: -6%;}
.football_ticket .football-ticket-heading > h2 {text-align: right;margin-left: unset;margin-right: 70px;}
.football_ticket .football-ticket-heading > h1{text-align: right;}
.football_ticket .football-ticket-heading > h2:before{left: unset;right: -9%;}

.epl-about-area .football-ticket-heading > h2:before{left: unset;right: -32%;}
.epl-about-area .football-ticket-heading > h2{text-align: right;margin-left: unset;margin-right: 70px;}
.epl-about-right-text {margin-left: unset;margin-right: 20px;}

.epl-popular-teams .topAirSlider .owl-prev{left: unset;right: 97%;}
.epl-popular-teams .topAirSlider .owl-next{right: unset;left: 40px;}

.most-popular .football-ticket-heading > h2:before{left: unset;right: -8%;}
.most-popular .football-ticket-heading > h2{text-align: right;margin-left: unset;margin-right: 70px;}

.epl_section_about .football-ticket-heading > h2, .epl_section_popular .football-ticket-heading > h2{text-align: right;margin-left: unset;margin-right: 70px;}
.epl_section_about .football-ticket-heading > h2:before, .epl_section_popular .football-ticket-heading > h2:before{left: unset;right: -20%;}

.epl_item_head {margin-left: unset;margin-right: 40px;}
.team-details h1{margin-left: unset;margin-right: 20px;}
.tabs_faq .nav-tabs a .fas{margin-right: unset;margin-left: 5px;}

.team_tickets_img .imggs{right: unset;left: 35px;}
.ticket_guarantee_rig {text-align: left;}
.e_tickets ul li{margin: 0 0px 0 15px;}
.seller_note_s ul li{margin:0 0px 0 20px;}
.txt-rit{float: left;}
.seller_notes_list ul {margin: 0 20px 0 0px;}
.dropdown img {margin-right: unset;margin-left: 5px;}

.logo_area {float: right;width: 180px;}
.mainmenu-left {float: left;margin: 5px auto;}
.header-top-right .dropdown {display: inline-block;margin-right: unset;margin-left: 10px;}
.header-top-right > a span {padding: 0 8px;margin-left: -5px;border-radius: 20px;}
.onebox-caption-cell p:before{left: unset;right: 135px;}
.team-view-details-list {margin-left: unset;margin-right: -20px;}
.team-view-content {margin: 20px 50px 20px 20px;}
a.onebox-btn-book{margin-left: unset;margin-right: auto;}
.team-list-image_second {left: unset;right: 40%;}



@media only screen and (min-width: 768px) and (max-width: 992px) {

.tabs .nav-pills {
    left: unset;
    transform: translateX(30%) translateY(5%);
    -webkit-transform: translateX(30%) translateY(5%);
    top: -20px;
    right: 40%;
}

.toptable td, .toptable th{text-align: left !important;}

 .onebox-caption-cell p:before {
    right: 30%;
    top: 6%;
    left: unset;
}
.football_ticket .football-ticket-heading > h2:before {
    left: unset;
    right: -15%;
}
.epl-about-area .football-ticket-heading > h2:before {
    left: unset;
    right: -62%;
}
.most-popular .football-ticket-heading > h2:before {
    left: unset;
    right: -15%;
}
.powered_by img {
    margin-right: 10px !important;
    margin-left: unset;
}

.onebox-site-logo .header{float: right !important;}
    .user_login{float: left !important;}

.header .toggle.toggle-open span::after {
    transform: rotate(-90deg) translate3d(11px, 0, 0);
    bottom: -10px !important;
}

.header .toggle.toggle-open span::before {
    transform: translate3d(0, 11px, 0);
    height: 2px;
    top: -11px !important;
}

.team_tickets_img .imggs {
    right: unset;
    left: unset;
    top: 0;
    position: relative;
}

}

@media only screen and (min-width: 650px) and (max-width: 768px) {
.tabs .nav-pills {left: unset;transform: translateX(30%) translateY(5%);-webkit-transform: translateX(30%) translateY(5%);top: -20px;right: 40%;}
.toptable td, .toptable th{text-align: left !important;}

.onebox-site-logo .header{float: right !important;}
    .user_login{float: left !important;}

.header .toggle.toggle-open span::after {
    transform: rotate(-90deg) translate3d(11px, 0, 0);
    bottom: -10px !important;
}

.header .toggle.toggle-open span::before {
    transform: translate3d(0, 11px, 0);
    height: 2px;
    top: -11px !important;
}
.team_tickets_img .imggs {
    right: unset;
    left: unset;
    top: 0;
    position: relative;
}



}


@media only screen and (min-width: 550px) and (max-width: 650px) {

	.onebox-footer-area .faq--item .faq-title .icon {right: unset;left: 10px;}
	.faq--item .faq-title .icon{transform:rotate(315deg);}
 	.faq--item.open .icon{transform:rotate(225deg);}
 	.top_event {right: unset;left: 10px;}
 	.tabs .nav-pills {left: unset;transform: translateX(30%) translateY(5%);-webkit-transform: translateX(0%) translateY(5%);top: -20px;right: 17%;}
    .toptable td, .toptable th{text-align: left !important;}
    .tick_text_blk {float: right;}
    .tick_all_items .tick_tier{float: right;margin-right: 0px;}
    .view_blk {float: right;margin-left: 10px;}
    .tick_quan .select::after {right: unset;left: 15px;top: 5px;}
    .txt-rit {text-align: left;}

    .onebox-site-logo .header{float: right !important;}
    .user_login{float: left !important;}

.header .toggle.toggle-open span::after {
    transform: rotate(-90deg) translate3d(11px, 0, 0);
    bottom: -10px !important;
}

.header .toggle.toggle-open span::before {
    transform: translate3d(0, 11px, 0);
    height: 2px;
    top: -11px !important;
}
.football_ticket .football-ticket-heading > h2:before {left: unset;right: -20%;}
    .football_ticket .topAirSlider .owl-prev {left: unset;top: -3%;right: 92%;}
    .football_ticket .topAirSlider .owl-next {top: -3%;}
.team_tickets_img .imggs{right: 20px !important;}

}

@media only screen and (min-width: 420px) and (max-width: 550px) {

	.onebox-gallery-masonary {margin-top: -40px;background: #fff;}
    .padd_mobile {padding: 0px 15px 0 0px;}
    .padd_mobile_new {padding: 0 10px 0 15px;}
	.main-lates-matches .item .team1 {text-align: center;}
 	.main-lates-matches .item .team{text-align: center;}
 	.tickets-box-team-img {float: unset;}
 	.match-date {text-align: center;}
 	.iti__country-list {right: 0 !important;}
 	.iti-mobile .iti__country{text-align: right;}
 	.tick_quan .select::after {right: unset;left: 50px;}
 	.onebox-footer-area .faq--item .faq-title .icon {right: unset;left: 10px;}
 	.faq--item .faq-title .icon{transform:rotate(315deg);}
 	.faq--item.open .icon{transform:rotate(225deg);}
 	.top_event {right: unset;left: 10px;}
 	.place_order-details-code h6 {text-align: unset;}
	.place_order-details-code img {margin-left: unset;margin-right: unset;}
	.upcoming-teams-match{border-left: unset;}
	.booking_checkbox {margin-top: 50px;}
    .booking_img {left: 0px;right: 0;text-align: center;}
    .booking_img img{width: 110px;}
    .booking_project input[type=checkbox]{margin: 5px 5px 0 0px;width: 20px;height: 20px;}
    .booking_checkbox label{font-size: 10px;line-height: inherit;}
    .ticket_quantity {max-width: 100%; margin: 0 5px 10px 0;}
    .ticket_quality {max-width: 100%;margin: 0 5px 10px 0;}
    .tick_all_items {text-align: right;}
    .tabs .nav-pills {left: unset;transform: translateX(30%) translateY(5%);-webkit-transform: translateX(0%) translateY(5%);top: -20px;right: 17%;}
    .toptable td, .toptable th{text-align: left !important;}
    .tick_text_blk {float: right;}
    .tick_all_items .tick_tier{float: right;margin-right: 0px;}
    .view_blk {float: right;margin-left: 10px;}
    .tick_quan .select::after {right: unset;left: 15px;top: 5px;}
    .txt-rit {text-align: left;}
    .ticket_quantity {max-width: 47%;margin: 0 0px 0px 20px;}
    .ticket_quality {max-width: 47%;margin: 0 0px 0px 0;}
    .search-section form input[type="text"]{float: right !important;}
    .team_tickets_img .imggs{right: 20px !important;}
    .onebox-caption-cell p:before {left: unset;top: 7% !important;right: 14%;}
    .epl-popular-teams .topAirSlider .owl-prev {left: unset;top: -18%;right: 92%;}
    .most-popular .football-ticket-heading > h2:before {left: unset;right: -28%;}
    .tick_all_items {text-align: unset !important;}
    .tick_all_items .tick_tier {float: right !important;}
    .team_tickets_img .imggs{right: 20px !important;}



    .football_ticket .football-ticket-heading > h2:before {left: unset;right: -30%;}
    .football_ticket .topAirSlider .owl-prev {left: unset;top: -3%;right: 92%;}
    .football_ticket .topAirSlider .owl-next {top: -3%;}

    .onebox-site-logo .header{float: right !important;}
    .user_login{float: left !important;}

.header .toggle.toggle-open span::after {
    transform: rotate(-90deg) translate3d(11px, 0, 0);
    bottom: -10px !important;
}

.header .toggle.toggle-open span::before {
    transform: translate3d(0, 11px, 0);
    height: 2px;
    top: -11px !important;
}


}



 @media only screen and (min-width: 320px) and (max-width: 420px) {

    .ticket_select_img .tooltip .tooltiptext{right: 17%;}
 	.onebox-gallery-masonary {margin-top: -40px;background: #fff;}
    .padd_mobile {padding: 0px 15px 0 0px;}
    .padd_mobile_new {padding: 0 10px 0 15px;}
 	.main-lates-matches .item .team1 {text-align: center;}
 	.main-lates-matches .item .team{text-align: center;}
 	.tickets-box-team-img {float: unset;}
 	.match-date {text-align: center;}
 	.iti__country-list {right: 0 !important;}
 	.iti-mobile .iti__country{text-align: right;}
 	.tick_quan .select::after {right: unset;left: 42%;}
 	.onebox-footer-area .faq--item .faq-title .icon {right: unset;left: 10px;}
 	.faq--item .faq-title .icon{transform:rotate(315deg);}
 	.faq--item.open .icon{transform:rotate(225deg);}
 	.top_event {right: unset;left: 10px;}
 	.place_order-details-code h6 {text-align: unset;}
	.place_order-details-code img {margin-left: unset;margin-right: unset;}
	.upcoming-teams-match{border-left: unset;}
	.padd_mobile_new {padding: 0 10px 0 15px;}
	.padd_mobile {padding: 0 15px 0 0px;}
	.booking_checkbox {margin-top: 50px;}
    .booking_img {left: 0px;right: 0;text-align: center;}
    .booking_img img{width: 110px;}
    .booking_project input[type=checkbox]{margin: 5px 5px 0 0px;width: 20px;height: 20px;}
    .booking_checkbox label{font-size: 10px;line-height: inherit;}
    .ticket_quantity {max-width: 100%; margin: 0 5px 10px 0;}
    .ticket_quality {max-width: 100%;margin: 0 5px 10px 0;}
    .tick_all_items {text-align: right;}
    .toptable td, .toptable th{text-align: left !important;}
    .tick_text_blk {float: right;}
    .tick_all_items .tick_tier{float: right;margin-right: 0px;}
    .view_blk {float: right;margin-left: 10px;}
    .tick_quan .select::after {right: unset;left: 15px;top: 5px;}
    .txt-rit {text-align: left;}
    .ticket_quantity {max-width: 47%;margin: 0 0px 0px 20px;}
    .ticket_quality {max-width: 47%;margin: 0 0px 0px 0;}
    .search-section form input[type="text"]{float: right !important;}
    .football_ticket .football-ticket-heading > h2:before {left: unset;right: -30%;}
    .football_ticket .topAirSlider .owl-prev {left: unset;top: -3%;right: 92%;}
    .football_ticket .topAirSlider .owl-next {top: -3%;}
    .onebox-caption-cell p:before {left: unset;top: 7% !important;right: 14%;}
    .epl-popular-teams .topAirSlider .owl-prev {left: unset;top: -18%;right: 92%;}
    .most-popular .football-ticket-heading > h2:before {left: unset;right: -28%;}
    .tick_all_items {text-align: unset !important;}
    .tick_all_items .tick_tier {float: right !important;}
    .team_tickets_img .imggs{right: 20px !important;}

      .onebox-site-logo .header{float: right !important;}
    .user_login{float: left !important;}

.header .toggle.toggle-open span::after {
    transform: rotate(-90deg) translate3d(11px, 0, 0);
    bottom: -10px !important;
}

.header .toggle.toggle-open span::before {
    transform: translate3d(0, 11px, 0);
    height: 2px;
    top: -11px !important;
}

 }

  @media only screen and (min-width: 320px) and (max-width: 364px) {

    .ticket_quantity {max-width: 100%;margin: 0 0px 20px 0px;}
    .ticket_quality {max-width: 100%;margin: 0 0px 0px 0;}
    .quan .form-control {padding: 6px 10px;}
    .tick_quan .select::after {left: 10px;}
    .ticket_select_img .tooltip .tooltiptext{right: 17%;}
    .search-section form input[type="text"]{float: right;}

  }

   @media only screen and (min-width: 342px) and (max-width: 419px) {}

   @media only screen and (min-width: 363px) and (max-width: 382px) {

   }

    @media only screen and (min-width: 342px) and (max-width: 363px) {
         .header-top-right .dropdown {margin-right: 0px !important;}
    }

    @media only screen and (min-width: 320px) and (max-width: 342px) {
        .header-top-right .dropdown {margin-right: 0px !important;margin-left: 0px !important;}
        .onebox-caption-cell p:before{right: 8% !important;}
        .football_ticket .football-ticket-heading > h2:before {left: unset;right: -40% !important;}
        .football_ticket .topAirSlider .owl-next {top: -4% !important;}
        .football_ticket .topAirSlider .owl-prev{top: -4% !important;}
        .epl-about-area .football-ticket-heading > h2:before {left: unset;right: -42% !important;}
        .epl-popular-teams .topAirSlider .owl-next {top: -25% !important;}
        .epl-popular-teams .topAirSlider .owl-prev {top: -25% !important;}
        .most-popular .football-ticket-heading > h2:before {left: unset;right: -38% !important;}
        .tick_all_items {text-align: unset !important;}
        .tick_all_items .tick_tier {float: right !important;}
        .epl_section_about .football-ticket-heading > h2:before, .epl_section_popular .football-ticket-heading > h2:before {
        left: unset;
        right: -40% !important;
        }
        .header-top-right > a{padding: 7px 0;}
}
